
/** ADD YOUR AWESOME CODES HERE **/
body{
    overflow-x: hidden;

}
#logo-brand{
    height: 60px;
}

#mainNav > div > a{
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 280px) and (max-width: 599px){
    #mainNav > div > a {
    width: 64%;
}}

#MTA{
    height: 12rem;
    width: auto;
    padding-bottom: 1rem;
}

.d-flex.flex-wrap > svg{
    height: auto;
    width: 7rem;
    padding: 1rem;
}

.contact-logo{
    height: 2rem;
    width: auto;
    margin-top: 0.75rem;
}